
<div class="container" ng-controller="TodoCtrl">
     <div class="row col-md-12">
          <div>
            <textarea  class="form-control input-lg" placeholder="+ Add ToDo-Idea" ng-keypress="save($event,label,priority)" ng-model="todoInput" style="min-width: 200px; max-width: 400px;background-color:white;"></textarea>
        </div>
   <br>
        <Div>
          <Input list="priority" class="selectwidthauto" placeholder="     Priority" ng-change="" ng-click="clearpriority()" class="form-control" ng-model="priority" /><datalist id="priority">
          <option ng-repeat="y1 in priorities" value="{{y1.priority}}">
          </datalist>&#xA0;&#xA0;&#xA0;&#xA0;<Input list="label" class="selectwidthauto" placeholder="Category" ng-change="ngChangeLabel(label)" ng-click="clearlabel()" class="form-control" ng-model="label" /><datalist id="label">
          <option ng-repeat="x1 in labels" value="{{x1.label}}">
          </datalist>
          <input type="button" class="btn btn-info" class="pull-center" value="Add" ng-click="add($event,label,priority)"  ng-model="todoInput" />
        </div>
     </div>
 


     <div> 
      <div class="msg"  ng-show="appState == 'added'">This Todo - Idea has been added !</div> 
      <br/> 
     <input type="button" class="btn btn-info" class="pull-left" value="Examine ToDos" ng-click="loadMore()" />
     <table class="table1">
      <tr  ng-style="color:'red'" ng-repeat="todo in todos | limitTo:totalDisplayed |orderBy :'-priority'"><td>{{$index + 1}}</td> &#xA0;&#xA0;<td>{{todo.todo}}</td></tr>
      </table>
      <div>
</div>