  <div class="navbar navbar-inverse navbar-fixed-bottom"   >
    <div class="container">
      <p class="navbar-text pull-center">
      <a href="/ad" class="navbar-btn btn-primary btn pull-center"> + <a>
      <a href="/" class="navbar-btn btn-primary btn pull-center"> ToDos<a>
      <a href="/today" class="navbar-btn btn-primary btn pull-center"> ToDays</a>
      <a href="/home" class="navbar-btn btn-primary btn pull-center"> ByPriority<a>
      <a href="/add" class="navbar-btn btn-primary btn pull-center"> ByCategory</a>
      </p>
      </div>
  </div>
