<div class="container" ng-controller="TodoCtrl">
    <div class="row col-md-12">
        <!-- <div class="col-md-8 col-sm-8 col-xs-8" ng-init="label='Magnetism'"> -->
           Disp : <input type="number" step="1" min="0" max="200" ng-model="rowLimit" />
           <Input list="label" class="selectwidthauto" placeholder="Label Idea!" ng-change="ngChangeLabel(label)" ng-click="clearlabel()" class="form-control" ng-model="label" /><datalist id="label">
        <option ng-repeat="x1 in labels" value="{{x1.label}}">
    </datalist>
    <Input list="priority" class="selectwidthauto" placeholder="Prioriyt!" ng-change="" ng-click="clearpriority()" class="form-control" ng-model="priority" /><datalist id="priority">
        <option ng-repeat="y1 in priorities" value="{{y1.priority}}">
    </datalist>
    </div>  
  <div class="row col-md-12 todos">
        <div class="alert alert-info text-center" ng-hide="todos.length > 0">
            <h3>Loading Todos!</h3>
        </div>
        
        <div ng-repeat="todo in todos |filter:priority:true|filter:label:true|orderBy:'+priority'|limitTo:rowLimit" class="todo col-md-12 col-sm-12 col-xs-12" ng-class="todo.isCompleted ? 'strike' : ''">
            <div class="col-md-10 col-sm-10 col-xm-10">
                      <span ng-show="!isEditable[$index]">{{todo.label}}</span>&#xA0;&#xA0;&#xA0;&#xA0;<span ng-show="!isEditable[$index]">{{todo.todo}}</span>&#xA0;&#xA0;&#xA0;&#xA0;<span ng-show="!isEditable[$index]">{{todo.priority}}</span>
         </div>
    
<!--
     
$ctrl.query

         <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="button" class="btn btn-info" ng-disabled="todo.isCompleted" class="pull-right" value="Ed" ng-click="isEditable[$index] = true" />
                <input type="button" class="btn btn-danger" class="pull-right" value="Del" ng-click="delete($index)" />
         </div>
  -->       
  </div>
</div>

