<div class="container" ng-controller="homeCtrl">
    <div class="row col-md-12">
        <h2> Home Page</h2>
         {{message}}
         <!--
         <script type = "text/ng-template" id = "/partials/homep.html">
             {{message}}
         </script>
         -->


    </div>
 </div>
  <div class="container" ng-controller="TodoCtrl">
    <div class="row col-md-12">
        <div>
            <P><a href="/home">Home</a> &#xA0;&#xA0;&#xA0;<a href="/api/Todos">Data</a>&#xA0;&#xA0;&#xA0;<a href="/">Todos</a>&#xA0;&#xA0;&#xA0;<a href="https://keep.google.com/">G-Keep</a></P>
        </div>   
    <div class="row col-md-12">
                <div class="container">
            <div class="col-md-2 col-sm-2 col-xs-3" ng-init="label='Null'">
               <select ng-change="ngChangeLabel(label)" class="form-control" ng-model="label" ng-options="cr.label as cr.label for cr in labels"></select>
              </div>
        </div>
           </div>

    <div class="row col-md-12 todos">
        <div class="alert alert-info text-center" ng-hide="todos.length > 0">
            <h3>Loading Todos!</h3>
        </div>
         
          Rows to display :<input type="number" step="1" min="0" max="30" ng-model="rowLimit" />
          <br /><br />
         <table>  
         <thead>
          <tr>
            <th>Label</th> 
            <th>isCompleted</th> 
            <th>Todo/Idea</th>
          </tr>
          <tr ng-repeat="todo in todos | limitTo:rowLimit" >  
          <td>{{todo.label |uppercase }}</td><td>{{todo.isCompleted}}</td><td>{{todo.todo}}</td>
          </tr>
          </thead>
         </table> 
       </div>
 
