<div class="container" ng-controller="homeCtrl">
    <div class="row col-md-12">
        <div>
            <P><a href="/home">Home</a> &#xA0;&#xA0;&#xA0;<a href="/api/Todos">Data</a>&#xA0;&#xA0;&#xA0;<a href="/">Todos</a></P>
        </div>   
    <div class="row col-md-12">
        <div>

        <script type = "text/ng-template" id = "homep.html">
            <h2> Home Page</h2>
            {{message}}
         </script>

            <textarea msd-elastic  class="form-control input-lg" placeholder="Enter a Todo" ng-keypress="save($event)" ng-model="todoInput" style="min-width: 400px; max-width: 800px;">Add ToDo/Idea/R&D</textarea>       
        </div>
    </div>
    

        </div>
    </div>
  
