<div class="container" ng-controller="TodoCtrl" >
    <div class="row col-md-12">
        <Input list="label" class="selectwidthauto" placeholder="Category Search" ng-change="ngChangeLabel(label)" ng-click="clearlabel()" class="form-control" ng-model="label" value={{label}} /><datalist id="label">
        <option ng-repeat="x1 in labels" value="{{x1.label}}">
    </datalist>&#xA0;&#xA0;&#xA0;
    <input type="number" step="1" min="0" max="200" ng-model="rowLimit" />
    </div>  
   <div class="row col-md-12 todos">
        <div class="alert alert-info text-center" ng-hide="todos.length > 0">
            <h3>Loading Todos!</h3>
        </div>

        <div ng-repeat="todo in todos|filter:label:true | orderBy:'+priority'| limitTo:rowLimit" class="todo col-md-12 col-sm-12 col-xs-12" ng-class="todo.isCompleted ? 'strike' : ''">
            <div class="col-md-8 col-sm-8 col-xm-8">
          


            <ul>  
            <li ng-show="!isEditable[$index]"><strong><span style="color:blue">{{todo.priority}}</span>&#xA0;&#xA0;&#xA0;{{todo.label}}</strong></li>

             <li ng-show="!isEditable[$index]">{{todo.todo}}</li>
             </ul>
              </div>
        <!--        <input ng-show="isEditable[$index]" type="button" class="btn btn-warning" value="Cancel" ng-click="isEditable[$index] = false" />  -->
         </div>
         

  </div>
