<div class="row col-md-12" >

 <!--<div ng-include="'/partials/navbarhp.html'"></div> <hr/> -->
  <!--  <ng-view></ng-view> -->
</div>
 <div class="col-md-2 col-md-offset-5" >
    <h2 >Lo<a class="login" href="/index">g</a>in</h2>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required class="form-control" />
        </div>
        <div class="form-group">
            
           <!-- <button type="submit" class="btn btn-primary">Login</button> -->
           <input type="button" class="btn btn-info" class="pull-center" value="Login" ng-click="setlogin()"  ng-model="login" />
            <a href="/register" class="btn btn-link">Register</a>
            
        </div>
    </form>
</div>
