  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Tapper</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
         <li><a href="/">Todos</a></li>
         <li><a href="/today">Todays</a></li>
         <li><a href="/home">ByPriority</a></li>
         <li><a href="/add">ByCategory</a></li>
         <!--<li><a href="/search">Search</a></li>
         <li><a href="/archive">Archive</a></li> 
         <li><a href="https://keep.google.com/">G-Keep</a></li>
         <li><a href="/api/todos">Data</a></li>-->
                <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sites<b class="caret"></b></a>
                <ul class="dropdown-menu" ">
                  <li><a href="http://HITL.org">HITL</a></li>
                  <li><a href="Http://kpsdev.org">KPSDev</a></li>
                  <li><a href="https://keep.google.com/">Keep</a></li>
                  <li><a href="Https://www.jrms.org">JRMS</a></li><!-- add links to linked in and cybrary, git hup, code pen, js fiddle, stacks overflow, plunkr  -->
                </ul>
                </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>



