 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/ad"><img style="height:50px;width:140px" ng-src="{{image}}"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
        <li class=""><a href="/">ToDos</a></li>
        <!-- <li><a href="/">Todos</a></li> -->
         <li><a href="/today">ToDays</a></li>
         <li><a href="/home">Priority</a></li>
         <li><a href="/add">Category</a></li>
         <!--<li><a href="/search">Search</a></li>
         <li><a href="/archive">Archive</a></li> 
         <li><a href="https://keep.google.com/">G-Keep</a></li>
         <li><a href="/api/todos">Data</a></li>-->
                <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sites<b class="caret"></b></a>
                <ul class="dropdown-menu" ">
                  <li><a href="http://HITL.org">HITL</a></li>
                  <li><a href="Http://kpsdev.org">KPSDev</a></li>
                  <li><a href="https://keep.google.com/">Keep</a></li>
                </ul>
              </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
        <li><a href="/today"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>