  <div class="navbar" style="background-color:#000000"  >
    <nav id="myNavbar" class="navbar navbar-inverse" role="navigation" style="background-color:#000000" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container" style="background-color:#000000">
            <div class="navbar-header" style="background-color:#000000">
           <a class="brand" href="/"><img style="height:50px;width:140px" ng-src="{{image}}" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" style="background-color:#000000" >Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               </div>
                       <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                   <ul class="nav navbar-nav" style="background-color:#000000">
                    <li><a href="/">Todos</a></li>
                    <li><a href="/today">Todays</a></li>
                    <li><a href="/home">ByPriority</a></li>
                    <li><a href="/add">ByCategory</a></li>
                    <!--<li><a href="/search">Search</a></li>
                    <li><a href="/archive">Archive</a></li> 
                    <li><a href="https://keep.google.com/">G-Keep</a></li>
                    <li><a href="/api/todos">Data</a></li>-->
                    <li class="dropdown" style="background-color:#000000;color:'white'">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sites<b class="caret"></b></a>
                        <ul class="dropdown-menu" style="color:#000000">
                            <li><a href="http://HITL.org">HITL</a></li>
                            <li><a href="Http://kpsdev.org">KPSDev</a></li>
                            <li><a href="https://keep.google.com/">Keep</a></li>
                            <li><a href="Https://www.jrms.org">JRMS</a></li><!-- add links to linked in and cybrary, git hup, code pen, js fiddle, stacks overflow, plunkr  -->
                        </ul>
                    </li> 
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>




<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TAPPER</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>