<!-- partials/state2.html Show state 2 when user is registered-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
        <a class="navbar-brand" href="/ad"><img style="height:50px;width:50px" ng-src="{{image}}"/></a> 
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
       <li><a ui-sref="state2.todo">ToDos</a></li>
        <!-- <li><a href="/">Todos</a></li> -->
        <li><a ui-sref="state2.todays">ToDays</a></li>
        <li><a ui-sref="state2.home">Priority</a></li>
        <li><a ui-sref="state2.add">Category</a></li>
         <!--<li><a href="/search">Search</a></li>
         <li><a href="/archive">Archive</a></li> 
         <li><a href="https://keep.google.com/">G-Keep</a></li>
         <li><a href="/api/todos">Data</a></li>-->
                <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sites<b class="caret"></b></a>
                <ul class="dropdown-menu" ">
                  <li><a href="http://HITL.org">HITL</a></li>
                  <li><a href="https://keep.google.com/">Keep</a></li>
                  <li><a href="https://soundcloud.com/stream">Music</a></li>
                  <li><a href="http://stackoverflow.com/questions/">Stacks</a></li>
                  <li><a href="https://www.facebook.com/login">FB</a></li>
                  <li><a href="http://angularlearn.teachable.com/courses">New Course</a></li>
                  
                </ul>
              </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<a ui-sref="state2.list">Show List</a>
<div ui-view></div>