<!-- partials/state1.html  put all routes in states provider-->
<!-- <a ui-sref="state1.list">Show List</a>-->

<div class="flex-container" ng-controller ="TodoCtrl">
  <div class="flex-item">
    <a class="login" ui-sref="state2"><span class="fa fa-plus fa-2x"></span>    </a>
  
  </div>
  <div class="flex-item">
  <a class="login" ui-sref="state1.register"><span class="glyphicon glyphicon-user"></span>  Sign up</a>
  </div>
  <div class="flex-item">
  <a class="login" ui-sref="state1.login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>
  </div>
</div>

<div ui-view></div>

