<div class="container" ng-controller="TodoCtrl">
  <div class="row col-md-12">
    <div class="container">
            <div class="alert alert-info text-center" ng-hide="todos.length > 0">
            <h3>Loading Todos!</h3>
             </div>
        
            <div ng-repeat="todo in todos |filter:{priority:'Today'}"  " class="todo col-md-12 col-sm-12 col-xm-12" ng-class="todo.isCompleted ? 'strike' : ''" >
              <div class="col-md-12 col-sm-12 col-xm-12" >
              <span ng-show="!isEditable[$index]" Style="color:blue;float:left"><strong>{{todo.priority}}</strong></span>&#xA0;&#xA0;
              <span ng-show="!isEditable[$index]" Style="color:white;float:left"><strong>{{todo.label}}</strong></span>&#xA0;&#xA0;<span ng-show="!isEditable[$index]">{{todo.todo}}</span>
              <textarea ng-show="isEditable[$index]" ng-keypress="edit($event,$index,label,priority);" style="min-width: 200px; max-width: 400px;">{{todo.todo}}</textarea>
                 <div class="col-md-3 col-sm-3 col-xm-3">
                 <Input list="label" id="SA" ng-show="isEditable[$index]" ng-change="updateLabel($event, todo._id, $index, label)" ng-click="clearlabel()" class="form-control" ng-model="label" /> 
                 <datalist id="label">
                    <option ng-repeat="x1 in labels" value="{{x1.label}}">
                </datalist>
                <Input list="priority" id="priority" ng-show="isEditable[$index]" ng-click="clearpriority()" class="form-control" ng-model="priority" /> 
                 <datalist id="priority">
                    <option ng-repeat="y1 in priorities" value="{{y1.priority}}">
                </datalist>     
              </div>
                <input ng-show="isEditable[$index]" type="button" class="btn btn-warning" value="Cancel" ng-click="isEditable[$index] = false" />
            </div>
        </div>
    </div>
  </div>
</div>
</div>

