​<div class="container-fluid" ng-controller="TodoCtrl">
   <div class="row">
  <div class="col-md-4">
  	 <textarea  class="form-control input-lg" placeholder="+ Add ToDo-Idea" ng-keypress="save($event,label,priority)" ng-model="todoInput" style="min-width: 200px; max-width: 400px;background-color:white;"></textarea>
  </div>
  <div class="col-md-4">
  	<Input list="label" class="selectwidthauto" placeholder="Category" ng-change="ngChangeLabel(label)" ng-click="clearlabel()" class="form-control" ng-model="label" /><datalist id="label">
          <option ng-repeat="x1 in labels" value="{{x1.label}}">
          </datalist>&#xA0;&#xA0;&#xA0;&#xA0;
          <Input list="priority" class="selectwidthauto" placeholder="Priority" ng-change="" ng-click="clearpriority()" class="form-control" ng-model="priority" /><datalist id="priority">
          <option ng-repeat="y1 in priorities" value="{{y1.priority}}">
          </datalist>
          <input type="button" class="btn btn-info" class="pull-center" value="Add" ng-click="add($event,label,priority)"  ng-model="todoInput" /></div>
  <div class="col-md-4">
  	.col-md-4</div>
</div>>
</div>
</div>