<div class="container" ng-controller="TodoCtrl">
  <div class="row col-md-12">
       <textarea  class="form-control input-lg" placeholder="+ Add ToDo-Idea" ng-keypress="save($event,label,priority)" ng-model="todoInput" style="min-width: 200px; max-width: 600px;background-color:white;"></textarea>
     
       <TABLE BORDER="0" CELLPADDING="7" CELLSPACING="7">
        <TD><Input list="priority" class="selectwidthauto" placeholder="     Priority" ng-change="" ng-click="clearpriority()" class="form-control" ng-model="priority" /><datalist id="priority">
          <option ng-repeat="y1 in priorities" value="{{y1.priority}}">
          </datalist></TD>
        <TD><Input list="label" class="selectwidthauto" placeholder="Category" ng-change="ngChangeLabel(label)" ng-click="clearlabel()" class="form-control" ng-model="label" /><datalist id="label">
          <option ng-repeat="x1 in labels" value="{{x1.label}}">
          </datalist></TD>
        <TR>
        <TD></TD>
        <TD align="right"><input type="button" class="btn btn-info" class="pull-center" value="Add" ng-click="add($event,label,priority)"  ng-model="todoInput" /></TD>
        </TR>
       </TABLE>
       </div>

  <div class="row col-md-12 todos">
      <div class="alert alert-success text-center" ng-hide="todos.length > 0">
         <h3>Loading Todos!</h3>
       </div> 
    <div ng-repeat="todo in todos"  class="todo col-md-12 col-sm-12 col-xs-12" ng-class="todo.isCompleted ? 'strike' : ''">
      <div class="col-md-1 col-sm-1 col-xs-1">
         <input type="checkbox" ng-checked="todo.isCompleted" ng-click="updateStatus($event, todo._id, $index)">
      </div>
       <div class="col-md-8 col-sm-8 col-xs-8" ng-controller="fessCntrl">
              <span ng-show="!isEditable[$index]" Style="color:#3399ff;float:left"><strong>{{todo.priority}}</strong></span>&#xA0;&#xA0;
              <span ng-show="!isEditable[$index]" Style="color:#99d6ff;float:left">&#xA0;&#xA0;<strong>{{todo.label}}</strong></span>&#xA0;&#xA0;<span ng-show="!isEditable[$index]">{{todo.todo}}</span>
              <textarea id="todo" ng-show="isEditable[$index]" ng-keypress="edit($event,$index,label,priority);" style="min-width: 200px; max-width: 400px;" >{{todo.todo}}</textarea>
              <pre>{{textModel|json}}</pre>
                 <div class="col-md-3 col-sm-3 col-xm-3">
                 <Input list="label" id="SA" ng-show="isEditable[$index]" ng-change="updateLabel($event, todo._id, $index, label)" ng-click="clearlabel()" class="form-control" ng-model="label" /> 
                 <datalist id="label">
                    <option ng-repeat="x1 in labels" value="{{x1.label}}">
                </datalist>
                <Input list="priority" id="priority" ng-show="isEditable[$index]" ng-click="clearpriority()" class="form-control" ng-model="priority" /> 
                 <datalist id="priority">
                    <option ng-repeat="y1 in priorities" value="{{y1.priority}}">
                </datalist>     
              </div>
              <input ng-show="isEditable[$index]" type="button" class="btn btn-info" value="Save" ng-click="edit2($event,$index,label,priority)" />
                <input ng-show="isEditable[$index]" type="button" class="btn btn-warning" value="Cancel" ng-click="isEditable[$index] = false" />
              </div>
            

              <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="button" class="btn btn-info" ng-disabled="todo.isCompleted" class="pull-right" value="Edit" ng-click="isEditable[$index] = true" />&#xA0;&#xA0;
              
                <input type="button" class="btn btn-danger" class="pull-right" value="Delete" ng-click="delete($index)" />
              </div>
      </div>        
  </div>
 </div>

<!-- <spacer type="block" width="210" height="300px"></spacer> -->

</div>

