 
 body {
    background-color: black;
}


 @media all and (-ms-high-contrast:none)
     {
     .foo { color: green } /* IE10 */
     *::-ms-backdrop, .foo { color: red } /* IE11 */
   
background: url("") no-repeat center center fixed; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='scale')";

     }

 
{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
   border-radius: 0 !important;
   font-family: calibri;
}
/*body {
       background: url("https://meantodo1.herokuapp.com/pics/NatureImg.png") no-repeat center center fixed;
       background-size: cover;
        }
*/

.strike span {
    text-decoration: line-through;
    color: #ccc;
}

.todos {
    padding: 20px;
}
.todo {
    padding: 10px;
    font-family:Papyrus; 
    font-size:1.5em;
    font-weight:900;
    /*font-size: 16px;*/
    color:#BCC6CC;
    border-bottom: 1px solid;
    text-align: left;
}
.todo .btn {
    margin-left: 5px;
    width: 72px;
}
.todo:hover {
    background: #e7e7e7;
    font-size: 16px;
    color:#999999;

}


.navbar-brand {
    margin-left:100px;
    position: absolute;
    width:140px;
    left: 75px;
    top: 0px;
    padding: 0px;
}


#myNavbar {
    margin-left:200px;
    position: relative;
    left:10px;   
}




@media (max-width: 991px) {
    .todo .btn {
        margin-bottom: 10px;
    }
    .todo input[type=checkbox] {
        width: 15px;
        height: 15px;
    }

}

@media (max-width: 991px) {
    .todo .btn-warning {
        margin-top: 10px;
        margin-left: 0px
    }
}
@media (max-width: 991px) {
  .navbar-brand {
    margin-left:10px;
    position: absolute;
    width:140px;
    left: 5px;
    top: 0px;
    padding: 0px;
}



   #myNavbar {
    margin-left:10px;
    position: relative;
    left:5px;   
}

}
  

@media (max-width: 450px) {
    .todo .col-xs-8 {
        width: 85%;
    }
    .todo .col-xs-3 {
        width: 100%;
        text-align: center;
        border-top: 1px dashed #aaa;
        padding-top: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 450px) {
.navbar-brand {
    margin-left:10px;
    position: absolute;
    width:140px;
    left: 5px;
    top: 0px;
    padding: 0px;
}

   #myNavbar {
    margin-left:10px;
    position: relative;
    left:5px;   
}
}
  


.selectwidthauto
{
     width:auto !important;
}


footer {
   position:fixed;
   align:center;
   bottom:0px;
   height:10px;
   width:100%;
   background: transparent !important;
   border-color:#000000;
   z-index:2000; 
 }


.navbar {
  background: transparent !important; 
  border-color:transparent;
  z-index:999;  
}



/*Try latter suing -custom 


.navbar-brand
{
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-custom a {
    color: #3399ff;
}
*/

/* for Navtest.html custom style sheet from MDB */

.side-nav {
width:140px ;

}

/* kps added 08/04 

.desktop {
    display:block;
}
 
.mobile {
    display:none;
}


@media (max-width : 600px) {
   .desktop {display:none}
    .mobile {display:block}
}

.stripedblue {
      color:#007FFF;
      background-color:#DBE9F4;
    }
    .stripedbeige {
      color:#000000;
      background-color:#F5F5DC;
    }

*/


/* Spinner Code */

/*
@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}a

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #4285F4;
  }
  50% {
    stroke: #4285F4;
  }
  75% {
    stroke: #4285F4;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #4285F4;
  }
  50% {
    stroke: #4285F4;
  }
  75% {
    stroke: #4285F4;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  fill: -ms-input-placeholder;
  fill: -webkit-input-placeholde;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

*/

/* Spinner Code */

html,body{
    height:100%;
}

#wrapper{
    position:relative;
    /*background:#333;*/
    height:100%;
}

.profile-main-loader{
    left: 50% !important;
    margin-left:0px;
    position: fixed !important;
    top: 50% !important;
    margin-top: 0px;
    width: 45px;
    z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 45px;
  height:45px;
}
.profile-main-loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}
@keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}
