/*   Added kps */

table {
    table-layout: auto;
}


input {color:black;}


 .form-container {
   width: 300px;
   margin: auto;
   color:white;
    }

 body {
    padding-top: 0px;
    background-color: black;
}

{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
   border-radius: 0 !important;
   font-family: calibri;
}

.strike span {
    text-decoration: line-through;
    color: #ccc;
}

.todos {
    padding: 20px;
}
.todo {
    padding: 10px;
    /*font-family:Arial; 
    font-size:1.5em;
    font-weight:600;*/
    font-size: 16px;
    color:#BCC6CC;
    border-bottom: 1px solid;
    text-align: left;
}
.todo .btn {
    margin-left: 5px;
    width: 72px;
}
.todo:hover {
    background: #e7e7e7;
    font-size: 16px;
    color:#999999;
}

.navbar{
  background-color: black;
  position: relative;
    right: 20px;
    top: 0px;
    padding: 0px;
    Z-index:3000; 
}
.navbar.navbar-brand {
    background-color: black;
    margin-left:20px;
    position: absolute;
    width:70px;
    left: 20px;
    top: 0px;
    padding: 0px;
}
#myNavbar {
    background-color: black;
    margin-left:200px;
    position: relative;
    left:10px;   
}

@media (max-width: 991px) {
    .todo .btn {
        margin-bottom: 10px;
    }
    .todo input[type=checkbox] {
        width: 15px;
        height: 15px;
    }

}

@media (max-width: 991px) {
    .todo .btn-warning {
        margin-top: 10px;
        margin-left: 0px
    }
}
@media (max-width: 991px) {
  .navbar-brand {
    background-color: black;
    margin-left:10px;
    position: absolute;
    width:100px;
    left: 5px;
    top: 0px;
    padding: 0px;
}



   #myNavbar {
    background-color: black;
    margin-left:10px;
    position: relative;
    left:5px;   
}

}
  

@media (max-width: 450px) {
    .todo .col-xs-8 {
        width: 85%;
    }
    .todo .col-xs-3 {
        width: 100%;
        text-align: center;
        border-top: 1px dashed #aaa;
        padding-top: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 450px) {

.navbar {
  background-color: black;
}

.navbar-brand {
    background-color: black;
    margin-left:10px;
    position: absolute;
    width:100px;
    left: 5px;
    top: 0px;
    padding: 0px;
}

   #myNavbar {
    background-color: black;
    margin-left:10px;
    position: relative;
    left:5px;   

}
}

.selectwidthauto
{
     width:auto !important;
}


footer {
   position:fixed;
   align:center;
   bottom:0px;
   height:10px;
   width:100%;
   background: transparent !important;
   border-color:#000000;
   z-index:2000; 
 }


.navbar {
  background-color: black;
 /* background: transparent !important; */
  border-color:transparent;
  z-index:3000;  
}


.side-nav {
width:140px ;

}


