/*   Added kps */

input {color:black;}


 .form-container {
   width: 300px;
   margin: auto;
   color:white;
    }

 body {
    padding-top: 0px;
    background-color: black;
}

{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
   border-radius: 0 !important;
   font-family: calibri;
}

.strike span {
    text-decoration: line-through;
    color: #ccc;
}

.todos {
    padding: 20px;
}
.todo {
    padding: 10px;
    /*font-family:Arial; 
    font-size:1.5em;
    font-weight:600;*/
    font-size: 16px;
    color:#BCC6CC;
    border-bottom: 1px solid;
    text-align: left;
}
.todo .btn {
    margin-left: 5px;
    width: 72px;
}
.todo:hover {
    background: #e7e7e7;
    font-size: 16px;
    color:#999999;
}

.navbar{
  background-color: black;
  position: relative;
    right: 20px;
    top: 0px;
    padding: 0px;
    Z-index:3000; 
}
.navbar.navbar-brand {
    background-color: black;
    margin-left:20px;
    position: absolute;
    width:70px;
    left: 20px;
    top: 0px;
    padding: 0px;
}
#myNavbar {
    background-color: black;
    margin-left:200px;
    position: relative;
    left:10px;   
}

@media (max-width: 991px) {
    .todo .btn {
        margin-bottom: 10px;
    }
    .todo input[type=checkbox] {
        width: 15px;
        height: 15px;
    }

}

@media (max-width: 991px) {
    .todo .btn-warning {
        margin-top: 10px;
        margin-left: 0px
    }
}
@media (max-width: 991px) {
  .navbar-brand {
    background-color: black;
    margin-left:10px;
    position: absolute;
    width:100px;
    left: 5px;
    top: 0px;
    padding: 0px;
}



   #myNavbar {
    background-color: black;
    margin-left:10px;
    position: relative;
    left:5px;   
}

}
  

@media (max-width: 450px) {
    .todo .col-xs-8 {
        width: 85%;
    }
    .todo .col-xs-3 {
        width: 100%;
        text-align: center;
        border-top: 1px dashed #aaa;
        padding-top: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 450px) {

.navbar {
  background-color: black;
}

.navbar-brand {
    background-color: black;
    margin-left:10px;
    position: absolute;
    width:100px;
    left: 5px;
    top: 0px;
    padding: 0px;
}

   #myNavbar {
    background-color: black;
    margin-left:10px;
    position: relative;
    left:5px;   

}
}
  


.selectwidthauto
{
     width:auto !important;
}


footer {
   position:fixed;
   align:center;
   bottom:0px;
   height:10px;
   width:100%;
   background: transparent !important;
   border-color:#000000;
   z-index:2000; 
 }


.navbar {
  background-color: black;
 /* background: transparent !important; */
  border-color:transparent;
  z-index:3000;  
}



/*Try latter suing -custom 


.navbar-brand
{
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-custom a {
    color: #3399ff;
}
*/

/* for Navtest.html custom style sheet from MDB */

.side-nav {
width:140px ;

}

/* kps added 08/04 

.desktop {
    display:block;
}
 
.mobile {
    display:none;
}


@media (max-width : 600px) {
   .desktop {display:none}
    .mobile {display:block}
}

.stripedblue {
      color:#007FFF;
      background-color:#DBE9F4;
    }
    .stripedbeige {
      color:#000000;
      background-color:#F5F5DC;
    }

*/


/* Spinner Code */

/*
@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}a

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #4285F4;
  }
  50% {
    stroke: #4285F4;
  }
  75% {
    stroke: #4285F4;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #4285F4;
  }
  50% {
    stroke: #4285F4;
  }
  75% {
    stroke: #4285F4;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  fill: -ms-input-placeholder;
  fill: -webkit-input-placeholde;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

*/

