<!DOCTYPE html>
<html ng-app="todoApp">



<head>
  
</head>


<body ng-controller="TodoCtrl">
  
<div class="row col-md-12">

<div ng-include="'/partials/navbar.html'"></div>
  <hr/>
<div ng-include="'/partials/navbar.html'"></div>

  <!--  <ng-view></ng-view> -->
</div>


<!--
  <div class="container">
     
    <h1><img ng-src="{{image}}"/>&#xA0;&#xA0;&#xA0;&#xA0;Todo App</h1>
   
  </div>
-->
  <!-- Live reload script -->
  <!-- <script type="text/javascript" src="http://localhost:35729/livereload.js"></script> -->


</body>
