<!DOCTYPE html>
<html ng-app="todoApp" ng-controller="TodoCtrl" >

<head >

<link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAABILAAASCwAAAAAA
AAAAAAD//////////3Z/hv9YYmj/W2Rq/zw/QP8jHx//KCcp/yYhHv8iHyD/RElO/2Jpbv9IUFT/
q7K1///////8/Pz///////////9ocHf/SlNa/0ZJS/8rMDf/MUNe/zxcgP82TGn/Ki00/y4qKf9U
WmD/PUVJ/6Opq////////Pz8//7+/v//////doCH/0hOUv83QlP/P2GL/0h8q/9Lh7n/SYvC/0Fq
k/80SWb/RERF/1BYXP+fpaj///////z8/P///////////3d+hP84QE3/QGmd/02Wyv9SnMf/WaDR
/1KWvf9PhrH/RHeo/zlTdP9NX3L/sLW4///////8/P3///////////9fZW3/OFyI/0+Rwf9qstb/
Z6rQ/16hy/9tosP/da3P/1SIpv9Zlc7/MExz/6apqP///////Pz8//////////3/WW+N/0yAsf9Q
l8f/f7DP/4m30v90t9z/fb3h/2Chyf9kpcz/YafU/zBckP+Zn6b///////v8/P///////////2WK
uP9Mlsb/VJ7L/4O11P9xrtP/VWt8/05wh/9opsv/gLXW/2Ks1/8xYZD/mqKu///////7/Pz/////
/////v9ggaj/Q5PG/4C42P+Ds87/UIqq/2F3hf9Yb3//Z6vS/4Gy0f9vpMb/P3qr/6C31P//////
/P3+////////////XYOu/2Cgyv+Grsb/LDZB/0xTWf9XbHz/XXeK/2aevf+Fudf/fLjZ/1uZy/+d
ttb///////z9/v///////////1qAqv9yrdT/aZOs/zE7Rv9NXm3/KSgw/y84Qv9MVmD/drbc/2un
zP9OgbD/nbLP///////8/P3////////9+v9Ye5//fbDT/1t5jP8tN0X/OTpB/zQ5Qf9NY3b/WnGD
/2qx3v9jlbr/L1OA/56ntv///////Pz9////////+/f/YIGd/2Kizf9chJ3/a4WY/2yUsP8xSFv/
PkZQ/2qjyf9fos3/WozA/yg8WP+dnZ7///////v8/P/////////+/1hmc/8+fLT/b7Hg/4S/4f9l
sNr/grna/26Mn/9Ec5T/S4m8/zlNa/8kJCz/n6Kn///////8/Pz//v7+//////9JR0n/Iy9B/zxj
h/9Ddan/XpzP/32z2P98tNf/XZvR/zphif8sKCr/ICIq/6Ckqf///////Pz8////////////SElM
/x8eIf8tKi3/KCo1/zhagP84a5P/RHao/ztilv8qLTf/KSgr/xsdI/+doKX///////v7/P//////
/////0xNUv8jKC7/KzA2/ystMv8pJyn/LCst/zo/Sv80Nj3/MjM4/zY4P/8gIin/naGm///////7
/Pz/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAA=="rel="icon" type="image/x-icon" /> 


<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<!--rest of header links-->
</head>

<body>
<div ng-controller="TodoCtrl">
  <div ng-include="'/partials/header.html'"></div>
  <script type="text/ng-template" id="header.html"></script>
</div>


<body><div class="form-container">
    <h2>Login</h2>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required class="form-control" />
        </div>
        <div class="form-group">
            
           <!-- <button type="submit" class="btn btn-primary">Login</button> -->
           <input type="button" class="btn btn-info" class="pull-center" value="Login" ng-click="setlogin()"  ng-model="login" />
            <a href="/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
</body>
</html>